.searchBarContainer {
  width: 550px;
}

.searchBarIcon, .searchBarIcon--clear {
  color: #FFFFFF;
}

.productNameContainer {
  color: #FFFFFF;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.listPrice {
  padding: 0;
  margin: 0;
}

.priceContainer {
  padding: 20px 0;
}

.sellingPrice {
  color: #59ff00;
}

.shippingContainer {
  margin-top: 50px;
  color: #FFFFFF;
}